<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>find your pic</title>
    <script type="text/javascript" src="../cutPicJsAll/third/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="../cutPicJsAll/third/layer/layer.js"></script>
    <style>
        #uuid {
            height: 25px;
            display: block;
            background-color: wheat;
            float: left;
            border: none;
        }

        .btn {
            cursor: pointer;
            float: left;
            background-color: goldenrod;
            margin-left: 10px;
            height: 27px;
           
        }
    </style>
</head>

<body>
    <input type="text" id="uuid" placeholder="input your uuid">
    <div id="go" class="btn">Find！</div>

    <script>
        $(document).ready(function () {
            $('#go').click((event) => {
                event.preventDefault();
                $.post("getImg", {
                    'UUID': $('#uuid').val()
                }, function (data) {
                    //有bug，需要自行修复位置偏移和强制设置宽高
                    var index = layer.open({
                        id: 'layerH',
                        content: `<img id='pic' src=${data}>`,
                        btn: '下载！',
                        maxmin: true,
                        title: 'YOUR PIC',
                        offset: 'lt',
                        area: ['initial', ''],
                        shadeClose: true, //点击遮罩关闭
                        anim: 4,
                        yes: function () {
                            let link = document.createElement("a");
                            link.download = 'cutPic';
                            link.href = $('#pic').attr('src');
                            document.body.appendChild(link);
                            link.click();
                            document.body.removeChild(link);
                            $(link).remove();
                        }
                    });
                });
                //style='clear:both;display:block;margin:auto;' 
            });
        });
    </script>

</body>

</html>